*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.mainContainer{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 50px;
    height: 100%;
    background-color: blueviolet;
    font-weight: bold;

    
}

form{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
input{
    
    width: 50%;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    /* border-bottom:rgb(79, 202, 79); */
    /* background-color: blueviolet; */
    border-color: rgb(79, 202, 79);
    

}
select{
    width: 15%;
    height: 50px;
    border-radius: 5px;
    border-color: rgb(79, 202, 79);
    font-size: 15px;
}
textarea{
    padding-left: 5px ;
    padding-top: 10px;
    border-color: rgb(79, 202, 79);
    font-size: 15px;
    border-radius: 5px;
}



label{
   font-size: 25px;
}

.box{
    
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

  